{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Game Schedule</title>
    <link rel="stylesheet" type="text/css" href="style_sheet.css">
</head>
<body>   
    <div class="container">
        <h1>Game schedules today</h1>
        <table>
            {% if schedule %}
                {% for game in schedule %}
                    <tr>
                        <td>{{ game.home_team }} vs {{ game.away_team }} on {{ game.date }} at {{ game.time }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No games scheduled today</td>
                </tr>
            {% endif %}
        </table>
    </div>
</body>
</html>
