<!DOCTYPE html>
<html>
<head>
    <title>League Standings</title>
    <link rel="stylesheet" type="text/css" href="style_sheet.css">
</head>
<body>   
    <div class="container">
        <h1>League Standings</h1>
        <table>
            {% for standing in standings %}
                <center>
                    <h2><h2>{{ standing.team_name }}            Wins:{{ standing.wins}}             Losses:{{ standing.losses }}</h2></tr>
                </center>
            {% endfor %}

        </table>
    </div>
</body>
</html>