<!DOCTYPE html>
<html>

<style>
.center {
    text-align: center;
}

.standing-entry {
    margin-bottom: 15px;
}

.standing-attribute {
    margin-right: 30px;
}
</style>


<head>
    <title>League Standings</title>
    <link rel="stylesheet" type="text/css" href="first.css">
</head>
<h1>League Standings</h1>
<body>   
    <div class="container">
        {% for standing in standings %}
        <div class="standing-entry center">
            <span class="standing-attribute">{{ standing.team_name }}</span>
            <span class="standing-attribute">Wins: {{ standing.wins }}</span>
            <span class="standing-attribute">Losses: {{ standing.losses }}</span>
        </div>
    {% endfor %}
    </div>
</body>
</html>