<!DOCTYPE html>
<html>

<style>

.standing-entry {
    margin-bottom: 50px;
}

.standing-attribute {
    margin-right: 100px;
}
.team_name {
    font-size: 20px;
}

.container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;

}
</style>


<head>
    <title>League Standings</title>
    <link rel="stylesheet" type="text/css" href="first.css">
</head>
<h1><center>NBA League Standings</center></h1>
<body>   
    <div class="container">
        {% for standing in standings %}
        <div class="standing-entry">
            <span class="standing-attribute team_name">{{ standing.team_name }}</span>
            <span class="standing-attribute">Wins: {{ standing.wins }}</span>
            <span class="standing-attribute">Losses: {{ standing.losses }}</span>
        </div>
    {% endfor %}
    </div>
</body>
</html>