{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="{% static 'images/MMM_Mini_Logo.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style_sheet.css' %}">
</head>



<body class="body">
    <div class="header">
        <img src="{% static 'images/MMM_Logo.png' %}" alt="Motion Matrix Media Logo">
        <ul class="nav">
            <li><a href='/'>Home</a></li>
            <li><a href="/upload/">Upload Roster</a></li>
            <li><a href="/stats_page/">Statistics Page</a></li>
        </ul>
    </div>


    {% if stats %}
    <h1 class="title">Player statistics for {{ inputted_team_name}}'s current game</h1>    
    <div class="section">
        <div class="team-stats-line">
                <span>{{ stats.0.1.team }}</span>
                <span>PTS</span>
                <span>AST</span>
                <span>REB</span>
                <span>BLK</span>
                <span>STL</span>
                <span>FG%</span>
                <span>3P%</span>
                <span>FT%</span>
        </div>
        {% for player in stats.0 %}
        <div class="player-stats-line">
            <div class="player-name">{{ player.name }}</div>
            <div>{{ player.points }}</div>
            <div>{{ player.assists }}</div>
            <div>{{ player.rebounds }}</div>
            <div>{{ player.blocks }} </div>
            <div>{{ player.steals }}</div>
            <div>{{ player.field_goals_pct }}</div>
            <div>{{ player.three_points_pct }}</div>
            <div>{{ player.free_throws_pct }}</div>
        </div>
        {% endfor %}
    </div> 

        
    <br><br><br>

    <div class="section">
        <div class="team-stats-line">
            <span>{{ stats.1.1.team }}</span>
            <span>PTS</span>
            <span>AST</span>
            <span>REB</span>
            <span>BLK</span>
            <span>STL</span>
            <span>FG%</span>
            <span>3P%</span>
            <span>FT%</span>
        </div>

        
        {% for player in stats.1 %}
        <div class="player-stats-line">
            <div class="player-name">{{ player.name }}</div>
            <div>{{ player.points }}</div>
            <div>{{ player.assists }}</div>
            <div>{{ player.rebounds }}</div>
            <div>{{ player.blocks }} </div>
            <div>{{ player.steals }}</div>
            <div>{{ player.field_goals_pct }}</div>
            <div>{{ player.three_points_pct }}</div>
            <div>{{ player.free_throws_pct }}</div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <h1 class="team">{{ inputted_team_name}} is not currently playing</h1>
    {% endif %}
</body>
</html>
