<!DOCTYPE html>
<html>
<head>
    <title>Team Stats</title>
    <link rel="stylesheet" type="text/css" href="style_sheet.css">

    <script>
        function DisplayStats() {
            var teamName = document.getElementById("teamName").value;
            window.location.href = "/team_stats/" + teamName;
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Team Stats for {{ team_name }}</h1>
        {% if stats %}
        <table>
            <h2>Team Name: {{stats.team_name}}</h2>
            <h2>Points: {{stats.team_points}}</h2>
        </table>
        {% else %}
            <h2>Team is currently not playing.</h2>
        {% endif %}
    </div>
</body>
</html>