<!DOCTYPE html>
<html>
<head>
    <title>Team Stats</title>
    <link rel="stylesheet" type="text/css" href="style_sheet.css">
</head>
<body>
    <div class="container">
        <h1>Team Stats</h1>
        <table>
            <tr>
                <th>Team</th>
                <th>Points</th>
                <th>Assists</th>
                <th>Rebounds</th>
                <th>Blocks</th>
                <th>Steals</th>
                <th>Field Goal Percentage</th>
                <th>Three Point Percentage</th>
                <th>Free Throw Percentage</th>
            </tr>
            {% if not stats %}
                <tr>
                    <td colspan="4">{{ inputted_team_name }} is not playing.</td>
                </tr>
            {% else %}
                {% for team in stats %}
                    <tr>
                        <td>{{ team.team_name }}</td>
                        <td>{{ team.team_points }}</td>
                        <td>{{ team.team_assists }}</td>
                        <td>{{ team.team_rebounds }}</td>
                        <td>{{ team.team_blocks }}</td>
                        <td>{{ team.team_steals }}</td>
                        <td>{{ team.team_field_goals_pct }}</td>
                        <td>{{ team.team_three_points_pct }}</td>
                        <td>{{ team.team_free_throws_pct }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            

            <h1> {{ stats.0.team_name }} </h1>

        </table>
    </div>
</body>
</html>