{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="{% static 'images/MMM_Mini_Logo.png' %}">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style_sheet.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload and Process</title>
    
</head>
<body>
    <div class="header">
        <img src="{% static 'images/MMM_Logo.png' %}" alt="Motion Matrix Media Logo">
        <ul class="nav">
            <!--need to add for game schedule-->
            <li><a href="/">Home</a></li>
            <li><a href="/stats_page/">Statistics Page</a></li>
       
        </ul>
    </div>
    
    <main>
        </div>
        <h1>Upload Your File</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p>Supported file types: .png, .jpg, etc.</p>
            <button type="submit">Upload and Process</button>
            <p>Upload a screenshot of your desired roster. The screenshot should be a clear image with the player names. You will also have the chance to manually update the names if anything is incorrect.</p>
        </form>


    </main>
    
    <footer>
       <!-- <p>Group 3 Live Sports Display</p>-->
    </footer>
</body>
</html>

