{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="{% static 'images/MMM_Mini_Logo.png' %}">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style_sheet.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload and Process</title>
    
</head>
<body>
    <div class="header">
        <img src="{% static 'images/MMM_Logo.png' %}" alt="Motion Matrix Media Logo">
        <ul class="nav">
            <!--need to add for game schedule-->
            <li><a href="/">Home</a></li>
            <li><a href="/stats_page/">Stats Page</a></li>
       
        </ul>
    </div>
    
    <main>
        <div id="How-To" class="section">
            <p>Upload a screenshot of your desired roster. The screenshot can be taken from anything that includes the names (full name or first initial and lastname) of your desired players legibly. File must be a .png, .jpg, or another valid type of image file. After submitting your image a new page will be loaded with the names found and you will be able to remove or add any names that are missing or unwanted.</p>
        </div>
        <h1>Upload Your File</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload and Process</button>
        </form>
    </main>
    
    <footer>
       <!-- <p>Group 3 Live Sports Display</p>-->
    </footer>
</body>
</html>

