@import url('https://fonts.cdnfonts.com/css/brixton?styles=40846,40847');

}
body {
    background-image: url('1pX9.gif');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Brixton', sans-serif;
    font-weight: 500; 
    font-size: 1rem;
    margin: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.border {
    max-width: 1300px;
    margin: auto;
    padding: 20px;
}

.header {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header img {
    height: 100px;
}

.nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav li {
    margin: 0 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    text-decoration: line-through Red 4px;
}

h2 {
    color: #000;
    font-family: 'Brixton', sans-serif;
    font-weight: 700
    margin-bottom: 0.5em
    font-size: 2rem;
}

p {
    font-family: 'Brixton', sans-serif;
    text-align: justify;
    margin-bottom: 1em;
    font-size: 1rem;
}
textarea, input[type="text"] {
    font-family: Arial, sans-serif;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(100% - 22px); 
}

textarea {
    width: calc(100% - 22px);
    height: 100px; 
}


.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    max-width: 1200px; 
}

.team-member {
    flex: 0 1 calc(33.333% - 20px); 
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0 auto;
    text-align: center;

}

.team-member img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 15px;
}

.social-links a {
    display: flex;
    justify-content: center;
    margin: 5px;
    font-family: 'Brixton', sans-serif;
}

.section {
    background: #fff;
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 1rem;
    box-shadow: 2px 2px 11px -3px rgba(168,168,168,1);
    border-radius: 18px;
    border: 2px solid #f0f0f0;
}
/* Gallery styles */
.galleries-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.gallery {
  flex: 1;
  max-width: 50%; 
}

.image-box {
  border: 4px solid black;
  text-align: center;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
}

.image-box img {
  max-width: 100%;
  height: auto;
}

.gallery-buttons {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}


.gallery-buttons button {
  background-color: #333; 
  color: #fff; /* White */
  border: none;
  padding: 10px 20px;
  font-size: 1em; 
  border-radius: 5px; /* Round button */
  transition: background-color 0.3s ease; /* for hover effect */
}
.gallery-buttons button:hover {
  background-color: #555; 
}
.gallery-buttons {
  text-align: center; 
}

/* Button Styles */
.custom-button, .add-button {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.custom-button {
    width: 700px;
    cursor: default;
}

.custom-button:hover, .add-button:hover {
    color: #fff;
    background-color: #333;
    opacity: 1;
}

.add-button {
    width: 400px;
}

.close-button {
    color: #fff;
    cursor: pointer;
    background-color: #333;
    border: 3px solid #fff;
    border-radius: 50%;
    padding: 5px;
}

.close-button:hover {
    color: red;
    border: 3px solid red;
}

form {
    max-width: 500px; 
    margin: 20px auto; 
    background: #ffffff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

form p {
    color: #333; 
}

input[type="file"] {
    font-family: 'Brixton', sans-serif;
    padding: 10px;
    margin-bottom: 20px; 
    border: 2px solid #ccc; 
    border-radius: 4px; 
    width: 100%; 
    box-sizing: border-box; 
}

input[type="submit"] {
    font-size: 16px;
    color: #fff;
    background-color:
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 0;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: #555; 
}

.standing-entry {
    margin-bottom: 50px;
}

.standing-attribute {
    margin-right: 100px;
}
.team_name {
    font-size: 20px;
}

.container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;

}
